/node_modules
/public/hot
/public/storage
public/images
/storage/*.key
/vendor
/.idea
/.vagrant
/nbproject
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/adminPress
/adminPress/
/resources/lang/ar/
/resources/lang/da/
/resources/lang/el/
/resources/lang/es/
/resources/lang/he/
/resources/lang/id/
/resources/lang/it/
/resources/lang/ja/
/resources/lang/no/
/resources/lang/pt_BR/
/resources/lang/ru/
/resources/lang/sv/
/resources/lang/th/
/resources/lang/tr/
/resources/lang/zh/
/resources/lang/zh-TW/
/resources/assets/js/frontend/globalUnsUsed/
