.btn-table,.btn-coupled{
  background: transparent;
}

 table.dataTable.stripe tbody tr.odd,
 table.dataTable.display tbody tr.odd,
 table.dataTable.display tbody tr.odd>.sorting_1,
 table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
  background-color: white !important;
}

 .dataTables_wrapper .dataTables_paginate .paginate_button.current,
 .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
 .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #26dad2 !important;
    background-color: #26dad2 !important;
}

.hiddenTable{
  th{
    display: none;
    visibility: hidden;
  }
  display: none;
  visibility: hidden;
}

button:disabled{
  background: #26dad2 !important;
}

.btn-coupled{
  background: #f62d51;
  color:#fff;
  font-size:125%
}

.radio-list{
  display: grid;
}
.modalText{
  font-weight:100;
}

#basics{
  min-width: 20em !important;

  @media screen and(max-width:500px) {
    min-width: 2em !important;
    margin-bottom: 1em;
  }

  @media all and(min-width:1200px) {
    width: 35vw !important;
  }

  &placeholder{
    margin: 0 1em;
  }
}



  #displayBlock,.infoCard,.infoCouples{
    display: none;
  }
  .cardflex{
    display: flex;
    flex-wrap: wrap;
  }

  .leftCard,.rightCard{
    width: 50%;
    padding: 1em 1em;
    @media screen and (max-width:500px) {
      padding: 0;

    }
  }

  .horizonCard{
    width:100%;
    padding: 1em 1em;

    @media screen and (max-width:500px) {
      padding: 0;

    }
  }
  .btn-small{
    width: 20px !important;
    height: 20px !important;
  }


  /*
  *
   CreateBirds
  *
  */
  input::placeholder{
    color:#dedede !important;
  }
  #idNumberGroup > div > input::placeholder{
    color: #dedede !important;
  }
  .searchBar{
    padding: 1em 1em;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 1em;

    .form-group{
      margin-bottom: 0 !important;
    }

  }
  .searchBox{
    justify-content: center;
  }
  #idNumberGroup,#sexMethod,#infoBreeder{
    display: none;
  }

#showSpecieBtn,#speciesCustomSelect,.newSpecieBlock,
  #returnSpecieBtn,#returnBirdBtn,#returnBackBtn,
  .returnHatBtnEggCard,.returnFertBtnEggCard,
.returnFertBtnEggTab,.returnhatchBtnEggTab{
    display: none;
  }

.newBirdBlock,.newSpecieBlock,.specieBlock{
  padding: 1em 1em;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-bottom: 1em;
  transition: 2s;
}


.specieTitle{
  padding: 1em 0;
}

.zoneTable{
  padding-left: auto;
  padding-right: 2em;
  @media(max-width:500px) {
  padding-right: 0em;
}
}
.btnTab{
  display: flex;
    flex-direction: row;
}
.specieName{
  font-size: 125%;
  font-weight: 500;
}


#couplesTable > tbody > tr > td{
  text-align: center;
  line-height: 3em;
  //width:100%;
  //display: inline-grid;
}
table#couplesTable tr.odd,table#couplesTable tr.even {
  height: 4em;
}




#couplesTable > tbody > tr > td:nth-child(2),
#couplesTable > tbody > tr > td:nth-child(9),
#couplesTable > tbody > tr > td:nth-child(6),
#couplesTable > tbody > tr > td:nth-child(7),
//#birdsIndex > tbody > tr > td:nth-child(1),
#birdsIndex > tbody > tr > td:nth-child(2){
  line-height: 4em;
  text-align: center;
    @media(max-width:500px) {
      //font-size: 12px;
    }
}
//.card-body
#nestlingTable > tbody > tr,#birdsIndex > tbody > tr {
  height: 4em;
  text-align: center;

}
#couplesTable > tbody > tr > td:nth-child(7){
  display: inline-flex;
}

.coupleDetails,.eggsDetails{
  padding:10px 0;
}

#nbfc{
  margin: auto;
}

#btnCloseNewCoupleModal,#btnCloseNewEggModal{
    right: 0;
    background: transparent;
    position: absolute;
}

$greyborder : rgba(0, 0, 0, 0.1);

.customCard{
  border:1px solid $greyborder !important;
  padding:1em;
}

.infoCouples{
  b{
    font-weight: 600 !important;
  }
}

#eggsTable select,.eggsDetails select{
  display: none;
  width: 80% !important;
}

.coupleTitle{
  margin-left: 3em;
}

.returnDeadBtnNestTab{
  display:none;
}

.selectWhyDead{
  display:none;
  width:50%;
}

#birdsIndex > tbody > tr.child > td > ul > li:nth-child(7) > span.dtr-title{
  display: none;
}
#birdsIndex button,#nestlingTable button,#couplesTable button{
  margin : 0 1em;
  i{
    font-size: 20px;
  }
}
#birdsIndex > tbody > tr.child > td > ul > li,
#couplesTable > tbody > tr.child > td > ul > li,
#eggsTable > tbody > tr.child > td > ul > li,
#nestlingTable > tbody > tr.child > td > ul > li{
  @media(max-width:600px){
    display:inline-grid;
    width: 100%;
  }
}

#birdsIndex > tbody > tr > td,
#couplesTable > tbody > tr > td:nth-child(1),
#couplesTable > tbody > tr > td:nth-child(2),
#couplesTable > tbody > tr > td:nth-child(5),
#couplesTable > tbody > tr > td:nth-child(6) {
  vertical-align: middle;
}
#birdsIndex > tbody > tr.group,
#eggsTable > tbody > tr.group,
#nestlingTable > tbody > tr.group,
#hatchingsTable > tbody > tr.group,
#couplesTable > tbody > tr.group{
  Background:#EDF4F8;
}
