.btn-table,.btn-coupled{
  background: transparent;
}

.hiddenTable{
  th{
    display: none;
    visibility: hidden;
  }
  display: none;
  visibility: hidden;
}

button:disabled{
  background: #26dad2 !important;
}

.btn-coupled{
  background: #f62d51;
  color:#fff;
  font-size:125%
}

.radio-list{
  display: grid;
}
.modalText{
  font-weight:100;
}

#basics{
  min-width: 20em !important;

  @media screen and(max-width:500px) {
    min-width: 2em !important;
    margin-bottom: 1em;
  }

  @media all and(min-width:1200px) {
    width: 35vw !important;
  }

  &placeholder{
    margin: 0 1em;
  }
}



  #displayBlock{
    display: none;
  }
  .cardflex{
    display: flex;
    flex-wrap: wrap;
  }

  .leftCard,.rightCard{
    width: 50%;
    padding: 1em 1em;
    @media screen and (max-width:500px) {
      padding: 0;

    }
  }

  .horizonCard{
    width:100%;
    padding: 1em 1em;

    @media screen and (max-width:500px) {
      padding: 0;

    }
  }
  .btn-small{
    width: 20px !important;
    height: 20px !important;
  }


  /*
  *
   CreateBirds
  *
  */
  input::placeholder{
    color:#dedede !important;
  }
  #idNumberGroup > div > input::placeholder{
    color: #dedede !important;
  }
  .searchBar{
    padding: 1em 1em;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 1em;

    .form-group{
      margin-bottom: 0 !important;
    }

  }
  .searchBox{
    justify-content: center;
  }
  #idNumberGroup,#sexMethod,#infoBreeder{
    display: none;
  }
  #showSpecieBtn,#speciesCustomSelect,.newSpecieBlock,
  #returnSpecieBtn,#returnBirdBtn,#returnBackBtn{
    display: none;
  }

  .newBirdBlock,.newSpecieBlock,.specieBlock{
    padding: 1em 1em;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-bottom: 1em;
    transition: 2s;
  }

//
//.groupSpecieBtn span{
//  position: absolute;
//}
