select{
  font-family: FontAwesome, sans-serif;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  //border: 1px solid #ced4da;
  border-radius: .25rem;
  height:100%;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26DAD2;
  border-bottom: 2px solid #26DAD2;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.addEvent,.addCatGroup{
  display: none;
}

.addCatGroupFlex{
  display: flex;
}

.full-spectrum .sp-palette {
  max-width: 200px;
}
.card-header{
  span{
    display: inline-flex;
    a{
      margin-left:2em;
    }
  }
}

#addCategoryBtn{
  //margin-left:1em;
}

.clockpicker-popover {
  z-index: 999999 !important;
}

.timeEvent{
  display: flex;
}

#footerRow{
  margin:auto;
}

#headerEdit{
  max-width:75%;
}

#headerEdit,#btnCloseEditEventModal,#btnDeleteEventModal{
  color:#ffffff;
}

btnDeleteEventModal{
  right: 2em;
}
