.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50vw;
  max-width: 100vw !important;
  /*height: calc(100% - 56px);*/
  /*bottom: 0;*/
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50vw;
  max-width: 100vw !important;
  /*height: calc(100% - 56px);*/
  /*bottom: 0;*/
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body {
  padding: 2em 2em 2em 2em;
}

.modal.right .modal-body {
  padding: 2em 2em 2em 2em;
}

.modal.left.fade .modal-dialog {
  height: calc(100% - 56px);
  bottom: 0;
  left: -50vw;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade .modal-dialog {
  height: calc(100% - 56px);
  bottom: 0;
  right: -50vw;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

#birdModal .modal-header, #specieModal .modal-header {
  min-height: 300px;
  border-bottom-color: #eeeeee;
  background-color: #E9EEEC;
}

#birdModal .modal-header{
   flex-direction: column;
}
#specieModal .modal-header{
   flex-direction: row;
}
.leftSpecie{
  width: 80%;
  padding-left: 20%;
}

.modal-header img {
  max-height: 250px;
}

#UpdateSpecieForm > div:nth-child(4) {
  background: #E9EEEC;
  .text-center {
    margin: auto 0;

    h2 {
      font-size: 32px;
      font-weight: 400;
    }
  }

}

.modal-footer {
  min-height: 4em;
}

.modal.right .modal-content .modal-footer button {
  position: absolute;
  left: 4em;
  /*display: none;*/
}

.modal.left .modal-content .modal-footer button {
  position: absolute;
  right: 4em;
  display: none;
}

#birdModal .modal-body .form-group {
  margin-bottom: 0 !important;
  border-bottom-color: #eeeeee;
}

.infoLine {
  margin: 0 1em;
}

@media screen and (max-width: 500px) {

  .modal-header img {
    max-height: 100px;
  }
  .modal.left .modal-body {
    padding: 2em 2em 2em 2em;
  }
  .modal.right .modal-body {
    padding: 2em 2em 2em 2em;
  }

  .modal.left .modal-dialog {
    width: 100vw;
  }
  .modal.right .modal-dialog {
    width: 100vw;
  }
  .modal.left.fade .modal-dialog {
    left: -100vw;
    height: calc(100% - 56px);
    bottom: 0;
  }
  .modal.right.fade .modal-dialog {
    right: -100vw;
    height: calc(100% - 56px);
    bottom: 0;
  }

  .form-group {
    margin-bottom: 5px !important;
  }
  //.modal-header {
  //    min-height:20px;
  //}
  .modal-header #carouselExampleControls {
    /*padding: 5em 5em;*/
    //max-width: 100%!important; ;
  }
  .infoLine {
    margin: 0.2em 1em;
  }
  .modal.left .modal-content .modal-footer button,
  .modal.right .modal-content .modal-footer button {
    position: absolute;
    right: 4em;
    display: block;
  }
}

@media screen and (max-width: 1450px) {
  #specieModal .modal-header, #birdModal .modal-header {
    //min-height:300px;

  }
  .modal-header #carouselExampleControls {
    max-width: 90%;
  }
}

#birdModal .row input, #nestlingModal .row input {
  display: none;
  width: 95%;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;

}

#birdModal .row input:nth-child(1) {
  color: red;
  width: 20%;

}

#birdModal .row select, #nestlingModal .row select {
  display: none;
  width: 95%;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

#birdModal .radio-list, #nestlingModal .radio-list {
  display: none;
}

#birdModal .control-label, #specieModal .control-label, #nestlingModal .control-label {
  font-size: 120%;
  font-weight: bold;
}

#birdModal input ::placeholder, #specieModal input ::placeholder, #nestlingModal input ::placeholder {
  text-align: center;

}

@media all and(max-width: 780px) {
  #birdModal .modal-body .form-group,
  #birdModal .control-label, #specieModal .control-label {
    margin-bottom: 1em;
  }
  #birdModal .control-label, #specieModal .control-label {
    font-weight: bold;
  }
}

#editCustomSpecieBtn {
  margin: 20px 0;
}

#updateBirdBtn, #updateSpecieBtn,
#returnNestlingBtn, #updateNestlingBtn {
  display: none;
}

.buttonRow {
  min-height: 5em;
}

.personal_idInput {
  line-height: 36px;
  font-size: 24px;
}

#newCoupleModal .modal-footer .row, #newEggModal .modal-footer .row {
  margin: auto;
}

#newCoupleModal .modal-content, #newEggModal .modal-content {
  width: 500px;
}

@media (max-width: 500px) {
  #newCoupleModal .modal-content, #newEggModal .modal-content {
    width: 100%;
  }
}

#newCoupleModal .modal-content, #newEggModal .modal-content {
  position: absolute;
  top: 5em;
}

#newCoupleModal .modal-body, #newEggModal .modal-body {
  padding: 2em 2em 0 2em;
}

#newEggModal .mydatepicker {
  margin: 0 0.5em;
}

.selectCoupleGroupe {
  display: none;
}

#editPicturesBtn {
  position: absolute;
  top: -12px;
  right: -55px;
  color: black;
  border: 1px solid dimgrey;
}

.thumbnailsGroup {
  width: 500px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.thumbnailsGroup img {
  width: 150px;
}

.img-wrap {
  position: relative;

}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;

}

.editImage,.editImageSpecies {
  display: none;
}
#editPicturesSpeciesBtn{
  top: 1%;
  right: 25%;
  position: absolute;
}
