


#accordion{
  width:100%;

  #newCategoryInput{
    height:48px;
  }

  .form-control-feedback{
    display: none;
  }


}

#userProfil{
  span{
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    a,button{
      margin:0 3em 1em 0;
    }
  }
  .profilInput,#returnProfilBtn,#updateProfilBtn
  {
    display: none;
  }

  #recoverpasswd{
    display: none;
    width:50%
  }

  #to-recover{
    color:#ef5350;;
    &:hover{
      color:white;
    }
  }

  .dropCard{
    display:none;
  }

}
